@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	// font-family: 'fira code';
}

.container h2 {
	font-size: 3rem;
	color: #111;
	text-align: center;
	margin-top: 28px;
}

.color-primary {
	color: hsl(180, 100%, 30%);
}

.list-div {
	// margin: 0 auto;
	max-width: clamp(50%, 60%, 80%);
	margin: 0 auto;
	margin-top: 100px;

	// display
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	gap: 0px;

	background-color: #ddd;
	padding: 50px 50px;
	border-radius: 12px;

	// Div-1

	input {
		margin-bottom: 40px;
		width: 40%;
		outline: none;
		border: none;
		padding: 12px 20px;
		border-radius: 8px;
		margin-left: 15px;
	}
	input[type='submit'] {
		color: #222;
		text-transform: uppercase;
		background-color: #fff;
		font-weight: bold;
		width: 100px;
	}
	input[type='submit']:hover {
		background-color: #222;
		color: #fff;
	}

	input[type='text'] {
		font-size: 1rem;
		font-weight: bold;
		color: #222;
		font-family: Arial, Helvetica, sans-serif;
		letter-spacing: 1px;
	}

	input[type='text']:focus {
		background-color: hsl(180, 100%, 20%);
		color: #fff;
	}

	// items-list
	.div-2 {
		display: flex;
		flex-direction: column;
		gap: 30px;
		// border: 2px solid red;
	}
	.div-2 h2 {
		font-size: 2rem;
		font-weight: bold;
		text-transform: uppercase;
		letter-spacing: 2px;
		color: hsl(180, 100%, 30%);
		font-family: 'fira code';
	}

	.div-2 ul {
		list-style: none;
		display: flex;
		flex-direction: column;
		gap: 10px;

		// li items
		li {
			width: 70%;
			background-color: #fff;
			padding: 12px 10px;
			position: relative;

			// Font styles

			font-size: 1rem;
			font-weight: bold;

			text-transform: uppercase;
			letter-spacing: 1px;
			color: hsl(1, 10%, 50%);
			border-radius: 6px;
			font-family: 'fira code', 'Gill Sans MT', Calibri, 'Trebuchet MS',
				sans-serif;
		}
	}
}

.reset {
	margin-left: 120px;
	border: none;
	padding: 12px 50px;
	border-radius: 8px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 3px;
	font-size: 1.2rem;
	background-color: hsl(180, 100%, 30%);
	color: #fff;
	transition: all 300ms;
}

.reset:hover {
	background-color: hsl(0, 100%, 30%);
}

li.done::after {
	content: '';
	position: absolute;
	border-color: #009933;
	border-style: solid;
	border-width: 0 0.3em 0.25em 0;
	height: 1em;
	top: 0.6em;
	right: 0.6em;

	transform: rotate(45deg);
	width: 0.5em;
}
li.done {
	background-color: #ccff99 !important;
}
